@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Modak';
  src: url('@assets/fonts/Modak-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
